<%- include("./partials/header") %>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid">
            <a class="navbar-brand" href="/">Todo</a>
        </form>
    </nav>
    <form action="/add/todo" method="post" class="d-flex my-5">
        <input class="form-control me-2" type="text" name="todo" placeholder="Todo">
        <input class="btn btn-lg btn-outline-success" type="submit" value="Add Todo"></input>
    </form>


    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
            <li class="list-group-item"><%= todos.todo %><a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-small">Delete</a></li>
            
        <%  }); %>
    </ul>


    <a href="/logout" class="btn btn-secondary">Logout</a></li>

    <%- include("./partials/footer") %>